<div class="search">
  <form (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Search City" [(ngModel)]="cityName" name="city">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upperData">
    <img src="assets/hot.png" loading="lazy" *ngIf="weatherData.current.temp_c > 28">
    <img src="assets/pleasant.png" loading="lazy" *ngIf="weatherData.current.temp_c <= 28 && weatherData.current.temp_c >= 20">
    <img src="assets/cold.png" loading="lazy" *ngIf="weatherData.current.temp_c < 20">
    <div class="weatherData">

      <div class="location">
        <h3>{{weatherData.location.name}}</h3>
        <span>{{weatherData.location.country}}</span>
      </div>
      <div class="temperature">
        {{weatherData.current.temp_c| number: '1.0-0'}}°C
      </div>
      <div class="condition">
        <img src="{{weatherData.current.condition.icon}}">
        <span>{{weatherData.current.condition.text}}</span>
      </div>
    </div>
  </div>
  <div class="lowerData">
    <div class="moreInfoLabel"></div>
    <div class="moreInfoContainer">
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/low.png" loading="lazy" *ngIf="weatherData.current.feelslike_c <= 25">
          <img src="../assets/high.png" loading="lazy" *ngIf="weatherData.current.feelslike_c > 25">
          <span>feels like</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.current.feelslike_c | number: '1.0-0'}}°C
        </div>
      </div>
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/humid.png" loading="lazy">
          <span>humidity</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.current.humidity}}%
        </div>
      </div>
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/wind.png" loading="lazy">
          <span>wind</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.current.wind_kph}}kmh
        </div>
      </div>
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/cloud.png" loading="lazy">
          <span>cloud</span>
        </div>
        <div class="infoBlockValue">
          {{weatherData.current.cloud}}%
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>